<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p>
<p>The box is now</p><p>The box is now</p><p>The box is now</p><p>The box is now</p>
<p>The box is now</p><p>The box is now</p><p>The box is now</p><p>The box is now</p>
<p>The box is now</p><p>The box is now</p><p>The box is now</p><p>The box is now</p>
<p>The box is now</p><p>The box is now</p><p>The box is now</p><p>The box is now</p>
<p>The box is now</p><p>The box is now</p><p>The box is now</p><p>The box is now</p>
<p>The box is now</p><p>The box is now</p><p>The box is now</p><p>The box is now</p>
<div *ngIf="activeTopClass" [attr.class]="topSection">abc</div>
