<div>
    <img src="/assets/riceProcess.png">
</div>

<h3 class="heading"><span>1121 Basmati Rice</span></h3>
<img class="center" src="/assets/rice4.jpeg">

<h3 class="heading"><span>Rice Specifications</span></h3>

<table class="table table-hover">
    <tbody>
      <tr>
        <td>Purity</td>
        <td>95.00%</td>
      </tr>
      <tr>
        <td>Natural Admixture</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>Average Grain Length</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Moisture</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>Broker Grain</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>Damage/ Discolour Grain</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Delivery Time</td>
        <td>15 Days</td>
      </tr>
      
    </tbody>
  </table>