<div class="container">
    <!-- row -->
    <div class="row mb-5 cstm-height-card">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/rice4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <i class="fa fa-user"> AAAAAA</i>
                    <h6 style="float: right;"><i class="fa fa-calendar"> 28-08-2023</i></h6>
                    <h5 class="card-title">Rice</h5>
                    <p class="card-text">RiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRiceRice</p>
                    <a href="#" class="btn btn-sm btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/rice2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <i class="fa fa-user"> BBBBBB</i>
                    <h6 style="float: right;"><i class="fa fa-calendar"> 28-08-2023</i></h6>
                    <h5 class="card-title">Spices</h5>
                    <p class="card-text">SpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpices</p>
                    <a href="#" class="btn btn-sm btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/rice3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <i class="fa fa-user"> CCCCCCC</i>
                    <h6 style="float: right;"><i class="fa fa-calendar"> 28-08-2023</i></h6>
                    <h5 class="card-title">Fresh Raisins</h5>
                    <p class="card-text">Fresh RaisinsFresh RaisinsFresh RaisinsFresh RaisinsFresh RaisinsFresh RaisinsFresh RaisinsFresh RaisinsFresh Raisins</p>
                    <a href="#" class="btn btn-sm btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
   
</div>